.tweet-stats-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stats-box {
  border-radius: 10px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  padding: 27px 24px;
}

.stats-box-heading {
  color: #87878a;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;

  position: relative;
}

.stats-box-info {
  color: #131242;

  font-size: 26px;
  letter-spacing: 0;
  line-height: 38px;
}

.loader {
  text-align: center;
  margin-top: 48px;
}
